__pycache__/
*.pyc
*.pyo
*.pyd

app/venv/
app/__pycache__/
app/*.pyc
app/*.pyo

app/models/__pycache__/
app/models/*.pyc
app/models/*.pyo

app/routes/__pycache__/
app/routes/*.pyc
app/routes/*.pyo

app/utils/__pycache__/
app/utils/*.pyc
app/utils/*.pyo

env/